.section {
  margin-top: 1.25rem;
}
.flex_container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.flex_container > p :first-child {
  margin-left: auto;
  max-width: 8.5rem;
}
.flex_container > h1 {
  margin-left: auto;
  max-width: 13.25rem;
}
.hero_image {
  object-fit: cover;
}
.hero_image_container {
  align-items: end;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.hero_little_foto_default {
  margin-bottom: 0.25rem;
}
