.section {
  padding-top: 1.25rem;
}
.flex_container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.flex_container > p {
  margin-left: auto;
  max-width: 8.5rem;
}
.flex_container > p:last-of-type {
  margin-left: 0;
  max-width: 100%;
}

.flex_container > h1 {
  margin-left: auto;
  max-width: 13.25rem;
}
.hero_image {
  object-fit: cover;
}
.hero_image_container {
  align-items: end;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.little_foto {
  margin-bottom: 0.25rem;
  width: auto;
  max-width: 3.75rem;
  height: auto;
}
.big_foto {
  max-width: 13.25rem;
  height: auto;
}
@media (width>=48rem) {
  .little_foto {
    max-width: 6.25rem;
  }
  .big_foto {
    max-width: 27.125rem;
  }
  .section {
    padding-top: 0;
  }
}
@media (width>=90rem) {
  .little_foto {
    max-width: 9.875rem;
  }
  .big_foto {
    max-width: 44.875rem;
  }
}
