.followUs {
  display: flex;
  gap: 0.25rem 0.75rem;
  align-items: center;
  justify-content: center;
}
.followUs__title {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 133%;
}
.followUs__list {
  display: flex;
  gap: 0.25rem;
}

@media (width>= 48rem) {
  .followUs {
    align-items: flex-start;
    flex-direction: column;
  }
}
