.auth_form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (width>= 48rem) {
    padding-top: 2.5rem;
    gap: 1rem;
    grid-column: 2/6;
  }

  @media (width>= 80rem) {
    gap: 1.25rem;
  }
}

.auth_form_forgot_link {
  color: var(--grey-dark);
  display: flex;
  justify-content: space-between;
}

.form_checkbox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (width>= 48rem) {
    &.logIn {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  @media (width>= 80rem) {
    gap: 12px;
    &.logIn {
      margin-top: -0.75rem;
      margin-bottom: -0.75rem;
    }
  }
}

.privacy_policy {
  span {
    display: inline-block;
    font-family: "Helvetica", sans-serif;
    font-weight: 700;
    line-height: 130%;
  }
}

.auth_form_field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (width>= 80rem) {
    gap: 1.81rem;
    &.forgotPassword,
    &.resetPassword {
      gap: 1rem;
    }
  }
}

.auth_social_buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  @media (width>=80rem) {
    gap: 0.75rem;
  }
}

/* .auth_form {
  padding-top: 40px;
  grid-column: 2/6;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth_form_forgot_link {
  display: flex;
  justify-content: space-between;
  color: var(--grey-dark);
}

.form_checkbox {
  display: flex;
  flex-direction: column;
  gap: 12px;
  &.logIn {
    margin-top: -12px;
    margin-bottom: -12px;
  }
}
.privacy_policy {
  span {
    display: inline-block;
    font-family: "Helvetica", sans-serif;
    font-weight: 700;
    line-height: 130%;
  }
}
.auth_form_field {
  display: flex;
  flex-direction: column;
  gap: 29px;
  &.forgotPassword,
  &.resetPassword {
    gap: 1rem;
  }
}
.auth_social_buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (width<= 80rem) {
  .auth_form {
    gap: 16px;
  }
  .form_checkbox {
    display: flex;
    flex-direction: column;
    gap: 8px;
    &.logIn {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
  .auth_form_field {
    gap: 8px;
    &.forgotPassword,
    &.resetPassword {
      gap: 8px;
    }
  }
  .auth_social_buttons {
    gap: 8px;
  }
}
@media (width<= 660px) {
  .auth_form {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
} */
