.auth_open_hours {
  margin-top: 1.25rem;
  height: auto;
  &.isLogIn {
    height: auto;
  }

  @media (width >=48rem) {
    grid-column: 7/10;
    height: 37.75rem;
    display: flex;
    flex-direction: column;
    &.isLogIn {
      height: 29.375rem;
    }
  }

  @media (width >=80rem) {
    height: 37.75rem;
    &.isLogIn {
      height: 34.375rem;
    }
  }
}

.title {
  @media (width >=48rem) {
    margin-bottom: 1.25rem;
  }
}

.auth_week_list {
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  @media (width >=48rem) {
    margin-top: auto;
    margin-bottom: 2.25rem;
  }
}

.auth_week_item {
  display: flex;
  gap: 0.25rem 0.5625rem;
  color: #454545;
  @media (width >=48rem) {
    flex-direction: column;
  }
  @media (width >=64rem) {
    flex-direction: row;
  }
}