.auth_open_hours {
  margin-top: 1.25rem;
  height: auto;
  &.isLogIn {
    height: auto;
  }

  @media (width >=48rem) {
    grid-column: 7/10;
    height: 37.75rem;
    display: flex;
    flex-direction: column;
    &.isLogIn {
      height: 34.375rem;
    }
  }
}

.title {
  @media (width >=48rem) {
    margin-bottom: 1.25rem;
  }
}

.auth_week_list {
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  @media (width >=48rem) {
    margin-top: auto;
    margin-bottom: 2.25rem;
  }
}

.auth_week_item {
  display: flex;
  gap: 0.25rem 0.5625rem;
  color: #454545;
  @media (width >=48rem) {
    flex-direction: column;
  }
  @media (width >=64rem) {
    flex-direction: row;
  }
}

/* .auth_open_hours {
  grid-column: 7/10;
  height: 604px;
  display: flex;
  flex-direction: column;
  &.isLogIn {
    height: 550px;
  }
}
.title {
  margin-bottom: 20px;
}
.auth_week_list {
  margin-top: auto;
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.auth_week_item {
  display: flex;
  gap: 4px 9px;
  color: #454545;
}

@media (width<= 80rem) {
  .auth_week_item {
    flex-direction: column;
  }
}
@media (width<= 660px) {
  .auth_open_hours {
    margin-top: 20px;
    height: auto;
    &.isLogIn {
      height: auto;
    }
  }
  .title {
    margin-bottom: 0px;
  }
  .auth_week_list {
    margin-top: 20px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
  }
} */
