.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  &:focus-within {
    .auth_label {
      opacity: 1;
    }
  }
}
.label {
  &.auth_label {
    position: absolute;
    background: var(--white);
    padding-inline: 6px;
    left: 16px;
    top: -7px;
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    color: var(--grey-dark);
    opacity: 0;
    transition: 0.1s ease-in-out all;
  }
}
.input {
  /* alex */
  /* border: 1px solid red; */
  display: flex;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px;
  color: var(--black);
  /*  */
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  /*  */
  &.auth_input {
    font-size: 14px;
    line-height: 114%;
    color: var(--black);
    padding: 13px 20px;
    border: 1px solid #b6afaf;
    &::placeholder {
      color: var(--grey-dark);
    }
  }
  /*  */
  &.footer_input {
    font-size: 12px;
    line-height: 133%;
    background: var(--white);
    &::placeholder {
      color: var(--grey-dark);
    }
  }
}
.inputError {
  position: absolute;
  left: 0;
  top: 110%;
  color: var(--red);
}
