.auth_picture {
  grid-column: 10/13;
}
.auth_picture_img {
  margin-left: auto;
  position: static !important;
  height: auto !important;
  width: 100%;
  aspect-ratio: 252 / 312;
  max-width: 252px;
  object-fit: contain;
}

.auth_image_btn {
  margin-left: auto;
  margin-top: 49px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 252px;
  width: 100%;
  top: 362px;
  right: 0px;
}
