.auth_image {
  grid-column: 10/13;
  position: relative;
  img {
    margin-left: auto;
    width: 100%;
    aspect-ratio: 252 / 312;
    max-width: 252px;
    max-height: 312px;
    object-fit: cover;
  }
}
.auth_image_btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 252px;
  width: 100%;
  top: 362px;
  right: 0px;
}
