@import url("@/globals_style/root.css");
@import url("@/globals_style/reset.css");
@import url("@/globals_style/typography.css");
@import url("@/globals_style/colors.css");

.container {
  max-width: 1146;
  padding: 0 24px;
  margin: 0 auto;
}
