.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-2);
  backdrop-filter: blur(4px);
  border-bottom: 1px solid var(--background-2);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  align-items: center;
}
