.menu__btn {
  position: relative;
  margin-left: 1.25rem;
  z-index: 50;
}

@media (width>= 20rem) {
  .menu__btn {
    margin-left: 1.5rem;
  }
}
/* @media (width>= 48rem) {
  .menu__btn {
    display: none;
  }
} */
