.subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.37;
  color: var(--black);
  position: relative;
  padding-left: 1rem;
}
@media (width>=48rem) {
  .subtitle {
    font-size: 0.875rem;
    line-height: 1.29;
  }
}
@media (width>=90rem) {
  .subtitle {
    font-size: 1rem;
    line-height: 1.37;
  }
}
.subtitle::after {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 0.25rem;
  height: 0.28rem;
  border-radius: 0.6rem;
  background-color: var(--black);
}
