.auth {
  /* padding-top: 100px; */
}
.auth_inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-between;
  gap: 30px;
}


.auth_image {
  border: 1px solid red;
  grid-column: 10/13;
  position: relative;
  img {
    margin-left: auto;
    width: 100%;
    aspect-ratio: 252 / 312;
    max-width: 252px;
    max-height: 312px;
    object-fit: cover;
  }
}
