.container {
  width: 100%;
  max-width: 90rem;
  padding: 0 var(--container-side-padding-mobile);
  margin: 0 auto;
}
@media (width>=48rem) {
  .container {
    padding-inline: var(--container-side-padding-tablet);
  }
}

@media (width>=90rem) {
  .container {
    padding-inline: var(--container-side-padding-desktop);
  }
}
