.footer {
  background: #413a32;
  color: var(--white);
}
.footer_inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 24px;
  justify-content: center;
  align-items: center;
}
.footer_medium {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer_big {
  display: none;
}

/* Media query */
@media (width>= 48rem) {
  .footer_inner {
    height: 208px;
    flex-direction: row;
    gap: 4.0625rem;
    padding-block: 24px;
    align-items: flex-start;
    justify-content: space-between;
  }
  .footer_logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .footer_medium {
    height: 100%;
    margin-left: 50px;
    justify-content: space-between;
  }
  .footer_big {
    display: block;
    &:nth-of-type(2) {
      height: 100%;
    }
  }
  .footer_small {
    display: none;
  }
}
